## Final Project Submission

Please fill out:
* Student name: Sylvia Sarange Manono
* Student pace: Part time
* Scheduled project review date/time: 
* Instructor name: Samuel G. Mwangi
* Blog post URL:

# Microsoft Movie Venture

Author: Sylvia Sarange Manono

## Overview

The goal of this project is to perform exploratory data analysis on movie data to provide insights that can help guide Microsoft's new movie studio on what types of films to produce.

## Business Problem

With more and more movie studios opting to distribute their content on their own platforms, successful entertainment companies today are increasingly dependent on original content. Additionally, major tech companies like Netflix, Amazon, and Apple have been investing heavily in creating original video content.For instance, at its inception, Netflix, one of the pioneer movie streaming sites rose to popularity by distributing content licensed from established movie studios. However, with the growing demand for streaming services, these studios established their own streaming platforms, forcing Netflix to invest heavily in its own content.  

Microsoft has decided to follow suit by establishing a new movie studio division. However, Microsoft has little prior experience in the movie production business. To assist in defining the strategic direction for the new studio, data-driven insights are needed on current box office trends and successful movie genres, styles, and so on. This project seeks to provide actionable insights from explortatory data analysis to inform Microsoft's decision and ensure the venture is successful and profitable.

## Data

Movie datasets are obtained

Movie datasets are obtained from the following two sources:

1. im.db
2. tn.movie_budgets.csv

## Library Importation

In [22]:
# Importing the necessary libraries and modules
import pandas as pd
import numpy as np
import csv
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [35]:
import os
import sqlite3
import pandas as pd

In [36]:
# Creating a path

imdb_path = os.path.join('im.db')

In [40]:
# Opening a connection and initializing a cursor

conn = sqlite3.connect('im.db')
cursor = conn.cursor()

The database has various tables, but the ones that are of interest in this case are 'movie_basics' and 'movie_ratings'.

In [41]:
table_name_query = """SELECT name 
                      AS 'Table Names' 
                      FROM sqlite_master 
                      WHERE type='table';"""

pd.read_sql(table_name_query, conn)

Empty DataFrame
Columns: [Table Names]
Index: []

### Reading the budget csv file

In [27]:
# Reading the bom.movies csv file and displaying the first two entries
bomovies_df = pd.read_csv("zippedData/bom.movie_gross.csv.gz")
bomovies_df.head(2)

                        title studio  domestic_gross foreign_gross  year
0                 Toy Story 3     BV     415000000.0     652000000  2010
1  Alice in Wonderland (2010)     BV     334200000.0     691300000  2010

In [28]:
# Reding the movie budgets csv file and displaying the first two entries
movie_budgets_df = pd.read_csv("zippedData/tn.movie_budgets.csv.gz")
movie_budgets_df.head(2)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"

### Combining the relevant tables in the IMDB database

I combined the 'movie_basics' and 'movie_ratings' tables by executing thr following SQL command in DB Browser for SQLite:

SELECT *
FROM movie_basics INNER JOIN movie_ratings
ON movie_basics.movie_id = movie_ratings.movie_id